@model IEnumerable<MasteryBlog.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Posts</title>
</head>
<body>
    <h1>Posts for @Model.First().Destination.Name</h1>
    <div>
        <section id="Destinations">

            <img src="@Model.First().Destination.Image" alt="@Model.First().Destination.Name" style="height:10rem; width:25rem;" /><hr />

            @foreach (var posts in Model)
            {
                <article>
                    <p>Title: @posts.Title</p>
                    <p>Body: @posts.Body</p>
                    <p>Author: @posts.Author</p>
                    <p>Category: @posts.Category</p><br >
                    <hr />
                </article>
            }
            <p><a href="/Destination/Details/@Model.First().DestinationID">Go back to Destination Details</a></p>
        </section>
    </div>
    <p><a href="/Destination/Index/">Go back to home</a></p>

    <footer><h6>&copy; Travel Blog 2019</h6></footer>

</body>
</html>
