@model IEnumerable<MasteryBlog.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Posts</title>
</head>
<body>
    <h1>Posts for @Model.First().Category.Name</h1>
    <div>
        <section id="Destinations">

            <img src="@Model.First().Category.Image" alt="@Model.First().Category.Name" style="height:15rem; width:21px;"/>

            @foreach (var posts in Model)
            {
                <article>
                    <p>Title: @posts.Title</p>
                    <p>Body: @posts.Body</p>
                    <p>Author: @posts.Author</p>
                   
                </article>
            }
            <p><a href="/Category/Details/@Model.First().CategoryID">Details for Travel Categories</a></p>
        </section>
    </div>
    <p><a href="/Category/Index/">Go back to home</a></p>

    <footer><h6>&copy; Travel Blog 2019</h6></footer>

</body>
</html>
