@model IEnumerable<MasteryBlog.Models.Post>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts By Tag</title>
    <link rel="stylesheet" href="~/Styles/DetailStyle.css" />
</head>
<body>
    <h1>Posts By Tags</h1><hr />
   
    
    <div>
        <section id="Tags">
            @foreach(var posts in Model)
            {               
                
            <article>
                <p>Title: <span>@posts.Title.</span></p>
                <p>Body: @posts.Body</p>
                <p>Author: @posts.Author</p>
                <p>Category: @posts.Category.Name</p>
                <p>Publish Date: @posts.PublishDate</p>
                @foreach (var tag in posts.PostTags)
                {
                    <h4> #@tag.Tag.Name </h4>
                }
                <hr />
            </article>
            }
        </section>
    </div>

    <nav>
        <p><a href="/Home/Index">Home</a></p>
        <p><a href="/Tag/Index">Tags</a></p>
    </nav>

    <footer><h6>&copy; Travel Blog 2019</h6></footer>
</body>
</html>
