@model MasteryBlog.Models.Destination

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name Page</title>
</head>
<body>
    <h1>Destination Details for @Model.Name</h1>
    <div>
        <p><img src="@Model.Image" alt=@Model.Name style="height: 200px; width: 340px;" /></p>
        <p><span>@Model.Name</span></p>
        <p>Description: <span>@Model.Description</span></p>
        <hr/>
    </div>

    <p><a href="/Home/Index">Go Back to Home</a></p>
    <p><a href="/Destination/Index">Go Back To All Destinations</a></p>
    <footer><h6>&copy; Destination Blog 2019</h6></footer>

</body>
</html>
